/build

# Google Services (e.g. APIs or Firebase)
google-services.json

# Other common Android/Firebase related ignores
.idea/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase local emulator
.firebase/
firebase-debug.log